{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Admin Dashboard {% endblock %}</h1>
    <br>
    {% if 'admin' in session %}
        <!-- If the admin is logged in, show the seating chart and total sales -->
        <h2>Seating Chart:</h2>
        <div>
            <table>
                <tr class="columns">
                    <td></td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                {% for row in range(0, 12) %}
                    <tr>
                        <td class="rows">{{ row }}</td>
                        {% for column in range(0, 4) %}
                        <td>
                            {% if (row, column) in reserved_seats %}
                                X
                            {% else %}
                                O
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <h2>Total Sales:</h2>
        <p>${{ total_sales }}</p>
        <br>
        <a href="{{ url_for('admin_logout') }}">Logout</a>
    {% else %}
        <p>Please log in to access the admin dashboard.</p>
    {% endif %}
{% endblock %}
