{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Home {% endblock %}</h1>
    <br>
    <p>Welcome to the IT-4320 trip reservation system!</p>
    <form method="post">
        <br>
        <label for="option">What would you like to do?</label>
                <select name="option" id="option">
                    <option value="">Select an option</option>
                    <option value="admin">Log in as an administrator</option>
                    <option value="reservation">Reserve a seat</option>
                </select>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
