{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Reserve Your Seat {% endblock %}</h1>
    <br>
    <h2>Seating Chart</h2>
    <br>
    <p>X = Reserved O = Open</p>
    <table>
        <tr class="columns">
            <td></td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        {% for row in range(0, 12) %}
            <tr>
                <td class="rows">{{ row }}</td>
                {% for column in range(0, 4) %}
                <td>
                    {% if (row, column) in reserved_seats %}
                        X
                    {% else %}
                        O
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <form method="POST">
        <label for="firstname">First Name</label>
        <input type="text" name="firstName" placeholder=" " required>
        <br><br>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastName" placeholder=" " required>
        <br><br>
        <label for="rowOption">Row:</label>
        <select name="rowOption" id="rowOption">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
        <br><br>
        <label for="seatOption">Seat:</label>
        <select name="seatOption" id="seatOption">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
{% endblock %}