{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Reserve Your Seat {% endblock %}</h1>
    <br>
    <h2>Seating Chart</h2>
    <p>X = Reserved Seat : O = Available Seat</p>
    <br>

    <br>
    <table style="border: 1px solid black; border-collapse: collapse;"> <!--makes border, location of code can change.--> 
        {% for row in range(1, 13) %}
            <tr>
                {% for seat in range(1, 5) %}
                    <td>
                        Row {{ row }} Seat {{ seat }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    <form method="POST">
        <label for="firstname">First Name</label>
        <input type="text" name="firstName" placeholder=" " required>
        <br>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastName" placeholder=" " required>
        <br>
        <select name="rowOption" id="rowOption">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <br>
        <select name="seatOption" id="seatOption">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}